body {
  font-family: 'Fuzzy Bubbles', cursive;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.img {
  display: flex;
  width: 40%;
  height: 94%;
  margin: 1% 1% 1% 1%;
  background: url(./images/halie-west-25xggax4bSA-unsplash.jpg) no-repeat
  center;
  background-size: cover;
  align-content: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 5px;
}

.img-description {
  margin-top: auto;
  margin-bottom: 10px;
  font-size: 100%;
  color: white;
  font-weight: 900;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  background-color: rgba(0, 0, 0, 0.472);
  padding: 5px;
  }

a {
  color: inherit;
  text-decoration: inherit;
}

.form-info {
  font-size: 1.4rem;
}

.form {
  font-family: 'Fuzzy Bubbles', cursive;
  width: 60%;
  margin: 0;
  padding: 0;
  margin-top: 5%;
  overflow: auto;
}

.form > * {
  padding-left: 10%;
  padding-right: 10%;

}

.form-label {
  font-weight: 900;
  font-size: 20px;
  display: block;
  transition: all 0.5s;
  margin-top: 1px;
}

.form-input {
  border: 2px solid gray;
  color: #333;
  font-size: 1.2rem;
  padding: 0.2rem 0.2rem;
  border-radius: 0.2rem;
  width: 100%;
  display: block;
  transition: all 0.5s;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-right: 10%;
}

.form-input:focus {
  transition: 0.2s;
  outline: none;
  border: 2px solid blue;
}

.form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
}

form {
  padding-top: 3%;
  width: 80%;
  margin-left: 0%;
  background-color: rgba(0, 0, 0, 0.062);
}

.inputs {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.inputs > :last-child {
  padding-left: 10%;
}

.start-point {
  font-size: 2.3rem;
  padding-top: 2%;
  padding-bottom: 2.5%;
}

.form-end {
  margin-top: 20px;
  position: absolute;
  font-size: 18px;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 30px;
  border-radius: 6px;
  border: 1px solid gray;
  font-size: 30px;
  background: #075f07;
  color: #fff9ff;
  user-select: none;
  cursor: pointer;
}

.final-text {
  margin-top: 3%;
}

.login {
  color: #009900;
}

.error {
  border: 2px solid red;
}

.errorMessage {
  font-size: 25px;
  font-weight: 900;
  color: red;
}

.img-logo {
  width: 10%;
  height: fit-content;
  position: fixed;
  margin-left: 28%;
  background-color: rgba(0, 0, 0, 0.178);
}

.odin-img {
  width: 100%;
}